{% extends '@App/admin/layout.html.twig' %}

{% block title %}Table Add | WakeUpCafe{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('app_admin_homepage') }}">Dashboard</a></li>
        <li><a href="{{ path('app_admin_blog_list') }}">Table List</a></li>
        <li class="active">Add New Table</li>
    </ol>

    <div class="page-header">
        <h1>Add New Table <br class="visible-xs"><small>Add new table </small></h1>
    </div>

    {{ form(form) }}

{% endblock %}

