{% extends '@App/admin/layout.html.twig' %}

{% block title %}Blog Add | WakeUpCafe{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('add_admin_homepage') }}">Dashboard</a></li>
        <li><a href="{{ path('add_admin_blog_list') }}">Blog List</a></li>
        <li class="active">Add New Post</li>
    </ol>

    <div class="page-header">
        <h1>Add New Post <br class="visible-xs"><small>Create new awesome post!</small></h1>
    </div>

    {{ form(form) }}

{% endblock %}

