{% extends '@App/admin/layout.html.twig' %}

{% block title %}Admin Dashboard | WakeUpCafe{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li class="active">Dashboard</li>
    </ol>

    <div class="page-header">
        <h1>Dashboard <small>Here you can see general system statistics</small></h1>
    </div>
{% endblock %}