{% extends '@App/admin/layout.html.twig' %}

{% block title %}Reservation Edit | WakeUpCafe{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('app_admin_homepage') }}">Dashboard</a></li>
        <li><a href="{{ path('app_admin_reservation_list') }}">Reservation List</a></li>
        <li class="active">Edit Reservation</li>
    </ol>

    <div class="page-header">
        <h1>Reservation Post <br class="visible-xs"><small>Edit your reservation!</small></h1>
    </div>

    <div id="path">{% set currentPath = path(app.request.attributes.get('_route'),
            app.request.attributes.get('_route_params')) %}</div>
    {{ form(form) }}

{% endblock %}

