{% extends '@App/layout.html.twig' %}

{% block body %}
    <div class="container">

        <div class="page-header">
            <h1>Blog Wake Up Cafe <br class="visible-xs"><small>Sprawdź nasze posty!</small></h1>
        </div>

        {% for post in pagination %}
            <div class="container-fluid">
                <div class="row">
                    <a href="{{ path('app_blog_post', {post: post.id}) }}" class="lead"> {{ post.title }} </a>
                    {{ post.date | date('Y-m-d H:i:s') }}
                </div>
                <div class="row">
                    Tutaj mógłby znaleźć się skrót posta.
                </div>
                <hr>
            </div>
        {% endfor %}

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}