{% extends '@App/layout.html.twig' %}

{% block body %}
    {% include '@App/component/slider.html.twig' %}

    <div class="container">

        <div id="header" style="margin-bottom: 30px;">
            <h1 class="text-center">Witaj na Wake Up Cafe!</h1>
            <p class="lead">Tutaj przejrzysz nasze zdjęcia i odnajdziesz nas na mapie.
                Zapraszamy na naszego bloga gdzie znajdziesz różne ciekawostki ze świata kawy.
                Chcesz zarezerwować stolik? Sprawdź naszą stronę rezerwacji.</p>
        </div>

        <div id="photos" style="margin-bottom: 30px;">
            <h3>Nasze zdjęcia:</h3>
            <p>Już niedługo się pojawią.</p>
            <div id="instafeed"></div>
        </div>

        <div id="location" style="margin-bottom: 30px;">
            <h3>Nasza lokalizacja:</h3>
            <div id="map" style="width: 640px; height: 330px; margin-bottom: 50px; display: block; background: #fff; padding: 15px; box-shadow: 0 0 20px #999; border-radius: 2px;"></div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/instafeed.min.js') }}"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJ4J489wut-A7g21Bvq6oMHPfQ8PfADEQ"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.25/gmaps.js"></script>

    <script>
        var map = new GMaps({
            div: '#map',
            lat: 53.4470875,
            lng: 14.4919988,
            zoom: 17
        });

        map.addMarker({
            lat: 53.4471072,
            lng: 14.4924907,
            title: 'Our Location'
        });
    </script>

    <script type="text/javascript">
        var feed = new Instafeed({
            get: 'tagged',
            tagName: 'awesome',
            clientId: 'YOUR_CLIENT_ID'
        });
        feed.run();
    </script>

{% endblock %}